<!DOCTYPE HTML>
<html>
	<head>
		<title>Users</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/global.css"/>
	</head>
	<body>
		{%include "MainHeader.html"%}
		
		<!--Users - We'll put this in a container-->		
		
		<ul id="usersList"> 
		{% for account in Accounts %}		
         <li class="userItem">
				<a href="/profile?userId={{account.key. integer_id()}}" class="userItemName">{{ account.name }}</a>
				<span>{{ account.Email }} Credits: {{ account.Credits }} Add:</span>
				<!--these are not hyperlinks because we will use AJAX (javascript)to send the webservice-->
				<span class="add1Credit" onclick="addCredits(3,1)">+1</span>
				<span class="add1Credit" onclick="addCredits(3,10)">+10</span>
				<span class="take1Credit" onclick="takeCredits(3,1)">-1</span>
			</li>
		 {% endfor %}
		 <li>
			<a id='createUser' href="/createUser" class="button">Add New Member</a>
		</li>
		</ul>
		
		<!--Footer-->
		<div id="footer">
		JointSoftware 2015
		</div>
	</body>
</html>