<!--Admin Menu-->
<div id="privliges">
	
	{% if user.Treasurer %}
		<a id='permissionButtonTreasurer' href="#" class="button privligeButton">
			Activate Treasurer
		</a>
	{% endif %}
	{% if user.EventManger %}
		<a id='permissionButtonEventManager' href="#" class="button privligeButton">
			Activate Event Manager
		</a>
	{% endif %}
	{% if user.Admin %}
		<a id='permissionButtonAdmin' href="#" class="button privligeButton" onclick="permissions.toggleAdminActive()">
			Deactive Admin
		</a>
	{% endif %}
</div>