<!--Admin Menu-->
<div id="privliges">
	
	<a  id='permissionButtonTreasurer' href="/togglePrivilege?type=treasurer" class="button privligeButton">
	{% if user.TreasurerActive %}
		Deactivate Treasurer
	{% else %}
		Activate Treasurer
	{% endif %}
	</a>
	<a id='permissionButtonEventManager' href="/togglePrivilege?type=eventManager" class="button privligeButton">
	{% if user.EventManagerActive %}
		Deactivate Event Manager
	{% else %}
		Activate Event Manager
	{% endif %}
	</a>
	<a id='permissionButtonAdmin' href="/togglePrivilege?type=admin" class="button privligeButton">
	{% if user.AdminActive %}
		Deactivate Admin
	{% else %}
		Activate Event Admin
	{% endif %}
	</a>
</div>