<!DOCTYPE HTML>
<html>
	<head>
		<title>Create User</Title>
		<link type="text/css" rel="stylesheet" href="stylesheets/global.css"/>
		
		{% include 'includes/jq_onload.js' %}
	</head>
	<body>
		{% include 'includes/mainHeader.html' %}
		
		{% include 'includes/adminMenu.html' %}

		{% include 'includes/generalMenu.html' %}	
			
		<!-- Create User - We'll make a div for this-->	
		<img src="theiProfilePhoto.dynamic" alt="Profile Photo" onclick="uploadPhoto()">
		<form id="userDetails" action="/createUser" method="post">
			<label for="name">
				Name
				<input name="name" type="text" value=""><br/>
			</label>	
			<label for="email">
				Email
				<input name="email" type="text" value=""><br/>
			</label>		
			<label for="emergencyName">
				Emergency Name
				<input name="emergencyName" type="text" value=""><br/>
			</label>	
			<label for="emergencyMobile">
				Emergency Mobile
				<input name="emergencyMobile" type="text" value=""><br/>
			</label>		
			<label for="password">
				Password
				<input name="password" type="text" value=""><br/>
			</label>
			<input type="submit" value="Create User">
		</form>

		{% include 'includes/footer.html' %}
	</body>
</html>