<!DOCTYPE HTML>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="stylesheets/global.css"/>
	<link type="text/css" rel="stylesheet" href="stylesheets/events.css"/>
	
	{% include 'includes/js-libraries.html' %}
		
	<script src="js/permissions.js"></script>
</head>
<body>
	{% include 'includes/mainHeader.html' %}
		
	{% include 'includes/adminMenu.html' %}

	{% include 'includes/generalMenu.html' %}	
	
	<form id="eventDetails" action="/createEvent" method="post">
	
		<label for="name">
			Event Name
			<input name="name" type="text"><br/>
		</label>
		
		<label for="date">
			Date
			<input name="date" type="date"><br/>
		</label>
		
		<label for="time">
			Time
			<input name="time" type="time"><br/>
		</label>
		
		<label for="location">
			Location
			<input name="location" type="text"><br/>
		</label>
		
		<label for="desc">
			Description
			<textarea name="desc" type="textarea" rows="10" cols="30"></textarea>
		</label>
		
		<input type="submit" value="Create Event">

	</form>

	{% include 'includes/footer.html' %}
</body>
</html>