<!DOCTYPE HTML>
<html>

<head>
	<title>Event Details</title>
	{% include 'includes/meta-tags.html' %} {% include 'includes/css-links.html' %} {% include 'includes/js-libraries.html' %}
	<!-- Temporary for removal of horizontal scroll bar -->
	<style type="text/css">
		html, body {
			max-width: 100%;
			overflow-x: hidden;
		}
	</style>
</head>

<body>
	<!-- Header -->
	{% include 'includes/navbar.html' %}

<!--Create Event - We'll put this in a container-->
	<div class="container">			
		<div class="row">	
			<div class="col-md-3">
                <center>
					{% include 'includes/sideProfile.html' %}
					<!--<form action="{{userUploadURL}}" method="POST" enctype="multipart/form-data">
						Upload Photo: <input type="file" name="ProfilePic"><br>
						<input type="submit" name="submit" value="Submit">
					</form>-->
					<!--<button>Upload Photo</button>
					<br><br>-->
				</center>
            </div>
		
		<center>
		<form action="" id="eventDetails" class="form-horizontal" method="post" enctype="multipart/form-data">
		<h2 id="eventName">{{Event.Name}}</h2>
		<a id="editEvent" href="/editEvent" class="button" eventManagerAllowed>Edit Event</a><a eventManagerAllowed id="CancelEvent" href="/CancelEvent?eventId={{Event.key.integer_id()}}" class="button">Cancel Event</a></br>	
		
		<button id="attendanceToggle" onclick = 'toggleAttendance({{Event.key.integer_id()}},{{user.key.integer_id()}},this,true);'>
			{{ buttonMsg }}
		</button>
		
		<div id="eventDetails">
			<span id="eventDatetime">{{Event.DateTime}}</span></br>
			<span id="eventLocation">Location: {{Event.Location}}</span></br>
			<span id="eventDesc">Description: {{Event.Description}}</span></br>
		</div>
		<div>
		<span>Attendees: {{Event.Attendees_count}}</span></br>
		
		<div><div>Attending</div>
			{% for attendeeNum in range(Event.Attendees_count)%}
				{% if AttendeeStatus[attendeeNum] == "Attending" %}
					<span>{{AttendeeNames[attendeeNum]}}</span></br>
				{% endif %}
			{% endfor %}
		</div>
		
		<div><div>Maybe</div>
			{% for attendeeNum in range(Event.Attendees_count)%}
				{% if AttendeeStatus[attendeeNum] == "Maybe" %}
					<span>{{AttendeeNames[attendeeNum]}}</span></br>
				{% endif %}
			{% endfor %}
		</div>
		
		</div>
		<div eventManagerAllowed>
		<span> Add Attendee</span>
			<select ID = "Adduser" name="Adduser" >
			  {% for Account in Accounts %}
				<option value={{Account.key.integer_id()}}>{{Account.Name}}</option>
			  {% endfor %}
			</select>
<input ID= 'AddAttendee' type="button" value="AddAttendee" onclick="addAttending('Attending',{{Event.key.integer_id()}})" />		</div>
		<div>
			<label for="desc">
				Additional Comments
				</br><textarea id= "Comment" type="textarea" rows="10" cols="30">{{Event.Comment}}</textarea>
			</label>
			</br>
			<input ID= 'SaveComment' type="button" value="Save" onclick="SaveComment({{Event.key.integer_id()}} )" eventManagerAllowed/>			
		</div>
		</form>
		</center>
		<a href="/printAttendees?eventId={{Event.key.integer_id()}}" treasurerAllowed>Print Attendees</a>
		
		</div>	
	</div>
	{% include 'includes/footer.html' %}
</body>
</html>