<!DOCTYPE HTML>
<html>
	<head>
		<title>Event Details</title>
		
		{% include 'includes/meta-tags.html' %}
		
		{% include 'includes/css-links.html' %}
		
		{% include 'includes/js-libraries.html' %}
		
	</head>
	<body>
		{% include 'includes/mainHeader.html' %}
		
		{% include 'includes/adminMenu.html' %}

		{% include 'includes/generalMenu.html' %}	
			
		<!--Create Event - We'll put this in a container-->
		<h2 id="eventName">{{Event.Name}}</h2>
		<a id="editEvent" href="/editEvent" class="button">Edit Event</a><a id="CancelEvent" href="/CancelEvent?eventId={{Event.key.integer_id()}}" class="button">Cancel Event</a></br>	
		
		<button id="attendanceToggle" onclick = 'toggleAttendance({{Event.key.integer_id()}},{{user.key.integer_id()}},this,true);'>
			{{ buttonMsg }}
		</button>
		
		<div id="eventDetails">
			<span id="eventDatetime">{{Event.DateTime}}</span></br>
			<span id="eventLocation">Location: {{Event.Location}}</span></br>
			<span id="eventDesc">Description: {{Event.Description}}</span></br>
		</div>
		<div>
		<span>Attendees: {{Event.Attendees_count}}</span></br>
		
		<div><div>Attending</div>
			{% for attendeeNum in range(Event.Attendees_count)%}
				{% if AttendeeStatus[attendeeNum] == "Attending" %}
					<span>{{AttendeeNames[attendeeNum]}}</span></br>
				{% endif %}
			{% endfor %}
		</div>
		
		<div><div>Maybe</div>
			{% for attendeeNum in range(Event.Attendees_count)%}
				{% if AttendeeStatus[attendeeNum] == "Maybe" %}
					<span>{{AttendeeNames[attendeeNum]}}</span></br>
				{% endif %}
			{% endfor %}
		</div>
		
		</div>
		<div>
		<span> Add Attendee</span>
			<select ID = "Adduser" name="Adduser">
			  {% for Account in Accounts %}
				<option value={{Account.key.integer_id()}}>{{Account.Name}}</option>
			  {% endfor %}
			</select>
<input ID= 'AddAttendee' type="button" value="AddAttendee" onclick="addAttending('Attending',{{Event.key.integer_id()}})" />		</div>
		<div>
			<label for="desc">
				Description
				</br><textarea id= "Comment" type="textarea" rows="10" cols="30">{{Event.Comment}}</textarea>
			</label>
			</br>
			<input ID= 'SaveComment' type="button" value="Save" onclick="SaveComment({{Event.key.integer_id()}} )" />			
		</div>
		<a href="/printAttendees?eventId={{Event.key.integer_id()}}">Print Attendees</a>
		{% include 'includes/footer.html' %}
	</body>
</html>