<!DOCTYPE HTML>
<html>
	<head>
		<title>Event Details</title>
		
		{% include 'includes/meta-tags.html' %}
		
		{% include 'includes/css-links.html' %}
		
		{% include 'includes/js-libraries.html' %}
		
	</head>
	<body>
		{% include 'includes/mainHeader.html' %}
		
		{% include 'includes/adminMenu.html' %}

		{% include 'includes/generalMenu.html' %}	
			
		<!--Create Event - We'll put this in a container-->
		<h2 id="eventName">{{Event.Name}}</h2>
		<a id="editEvent" href="/editEvent" class="button">Edit Event</a><a id="CancelEvent" href="/CancelEvent?eventId={{Event.key.integer_id()}}" class="button">Cancel Event</a></br>	
		{% if UserAttending %}
			<input ID= 'Attendance2' type="button" value="Unattend" onclick="removeAttending({{Event.key.integer_id()}},{{user.key.integer_id()}})" />

		{% else %}
			<input ID= 'Attendance' type="button" value="Attending" onclick="sendAttending('Attending',{{Event.key.integer_id()}},{{user.key.integer_id()}})" />
			<input ID= 'Attendance2' type="button" value="Maybe" onclick="sendAttending('Maybe',{{Event.key.integer_id()}},{{user.key.integer_id()}})" />
		{% endif %}
		
		<div id="eventDetails">
			<span id="eventDatetime">{{Event.DateTime}}</span></br>
			<span id="eventLocation">Location: {{Event.Location}}</span></br>
			<span id="eventDesc">Description: {{Event.Description}}</span></br>
		</div>
		<div>
		<span>Adttendies: {{Event.Attendees_count}}</span></br>
		{% for AdttendieNum in range(Event.Attendees_count)%}
		<span>{{AttendeeNames[AdttendieNum]}} : {{AttendeeStatus[AdttendeeNum]}}</span></br>
		{% endfor %}
		</div>
		<div>
		<span> Add Attendee</span>
			<select ID = "Adduser" name="Adduser">
			  {% for Account in Accounts %}
				<option value={{Account.key.integer_id()}}>{{Account.Name}}</option>
			  {% endfor %}
			</select>
<input ID= 'AddAttendee' type="button" value="AddAttendee" onclick="addAttending('Attending',{{Event.key.integer_id()}})" />		</div>
		<div>
			<label for="desc">
				Description
				</br><textarea id= "Comment" type="textarea" rows="10" cols="30">{{Event.Comment}}</textarea>
			</label>
			</br>
			<input ID= 'SaveComment' type="button" value="Save" onclick="SaveComment({{Event.key.integer_id()}} )" />			
		</div>
		{% include 'includes/footer.html' %}
	</body>
</html>