<!DOCTYPE HTML>
<html>
	<head>
		<title>Events</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/global.css"/>
		{% include 'includes/js-libraries.html' %}
		
		<script src="js/permissions.js"></script>
		<script src="js/webservice.js"></script>
		
	</head>
	<body>
		
		{% include 'includes/mainHeader.html' %}
		
		{% include 'includes/adminMenu.html' %}

		{% include 'includes/generalMenu.html' %}	

			
			<!-- Events Container (needs some work)-->
			<div id="container">
				<div id="eventsContainer">
					<center><h2>Events</h2>
					<table>
						<tr>
							<th>Event</th>
							<th>Time</th>
							<th>Location</th>
							<th colspan="2">Attendance</th>

						</tr>
						
						
						
						
		{% for Event in Events %}		
						<tr>
				
								<td><span class="eventItemName">{{Event.Name}}</span></td>
								<td><span class="eventItemDatetime">{{Event.Date}} {{Event.Time}}</span></td>
								<td><span class="eventItemLocation">{{Event.Location}}</span></td>
								<td><input ID= 'Attendance' type="button" value="Attending" onclick="sendAttending('Attending',{{Event.key.integer_id()}},{{user.key.integer_id()}})" /></td>
								<td><input ID= 'Attendance2' type="button" value="Maybe" onclick="sendAttending('Maybe',{{Event.key.integer_id()}},{{user.key.integer_id()}})" /></td>
								<!--<a href="/registerAttendance?status=decline&fromPage=events" class="registerDecline">Register Decline</a>-->
						</tr>
				
				
		 {% endfor %}
						
				</table>
				<br>
				<input type="button" value="Create Event" onclick="window.location.href='/createevent'" /><!--only visible to some accounts-->
				</center>
				</div>
			</div>
		
		{% include 'includes/footer.html' %}
	</body>
</html>