<!DOCTYPE HTML>
<html>
	<head>
		<title>Events</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/global.css"/>
	</head>
	<body>
		
		{% include 'includes/mainHeader.html' %}
		
		{% include 'includes/adminMenu.html' %}

		{% include 'includes/generalMenu.html' %}	

			
			<!-- Events Container (needs some work)-->
			<div id="container">
				<div id="eventsContainer">
					<center><h2>Events</h2>
					<table>
						<tr>
							<th>Event</th>
							<th>Time</th>
							<th>Location</th>
							<th colspan="2">Attendance</th>

						</tr>
						
						
						
						
		{% for Event in Events %}		
						<tr>
				
								<td><span class="eventItemName">{{Event.Name}}</span></td>
								<td><span class="eventItemDatetime">{{Event.Date}} {{Event.Time}}</span></td>
								<td><span class="eventItemLocation">{{Event.Location}}</span></td>
								<td><input type="button" value="Attend" onclick="window.location.href='{{Event.key.integer_id()}}'" /></td>
								<td><input type="button" value="Maybe" onclick="window.location.href='{{Event.key.integer_id()}}'" /></td>
								<!--<a href="/registerAttendance?status=decline&fromPage=events" class="registerDecline">Register Decline</a>-->
						</tr>
				
				
		 {% endfor %}
						<tr>
								<td><span class="eventItemName">Fake Endurance Training</span></td>
								<td><span class="eventItemDatetime">14/09/2015 17:00</span></td>
								<td><span class="eventItemLocation">Brisbane Athletics Centre</span></td>
								<td><span class="eventItemDesc">Build up and maintain your dive times</span></td>
								<td><input type="button" value="Attend" onclick="window.location.href='#'" /></td>
								<td><input type="button" value="Maybe" onclick="window.location.href='#'" /></td>
								<!--<a href="/registerAttendance?status=decline&fromPage=events" class="registerDecline">Register Decline</a>-->
						</tr>
				</table>
				<br>
				<input type="button" value="Create Event" onclick="window.location.href='/createevent'" /><!--only visible to some accounts-->
				</center>
				</div>
			</div>
		
		{% include 'includes/footer.html' %}
	</body>
</html>