<!DOCTYPE HTML>
<html>
	<head>
		<title>Login</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/global.css"/>
		
	</head>
	<body>
		{% include 'includes/mainHeader.html' %}
			
		{% if local_testing == True%}
			<h2>Local Testing Mode enabled</h2>
			<h6>To Disable change the global LOCAL_TESTING in Main.py</h6>
			<a href='/events'>Bypass the Login</a>
		{% else %}
			<h1>Live Mode</h1>
		{% endif %}
		
		<!--Login Box (needs some work)-->
		<div id="login">	
				<!--<form action="/login" method="post">-->
				<form action="/login" method="post">
						<br>
						<label for="Email">
							Email:
							<input name="Email" type="text"><br/>
						</label><br>
						<label for="Password">
							Password:
							<input name="Password" type="password">
						</label>
						<br><br>
						<input type="submit" value="Login">
				</form>
			<!--<a href="/forgotPassword">Forgot Password?</a>-->
		</div>
	</body>
	
	{% include 'includes/footer.html' %}
</html>