<!DOCTYPE HTML>
<html>

<head>
	<title>Profile</title>
	{% include 'includes/meta-tags.html' %} {% include 'includes/css-links.html' %} {% include 'includes/js-libraries.html' %}
	<!-- Temporary for removal of horizontal scroll bar -->
	<style type="text/css">
		html, body {
			max-width: 100%;
			overflow-x: hidden;
		}
	</style>
	<script>
	/*Make profile pic upload have better user feedback*/
	function readURL(input){
		
		//if file selected
		if (input.files && input.files[0]){
			var reader = new FileReader();
			
			reader.onload = function(e){
				$('#imgProfilePic').attr('src',e.target.result);
			};
			
			reader.readAsDataURL(input.files[0]);
		}else{
			//on cancel
			//replace image with original
			var oldSrc =  $('#imgProfilePic').attr('oldSrc');
			$('#imgProfilePic').attr('src',oldSrc);
		}
	}
	$(document).ready(function(){
		//store old picture in case the user changes the value of the upload input to blank
		var oldSrc = $('#imgProfilePic').attr('src');
		$('#imgProfilePic').attr('oldSrc',oldSrc);
		
		$('#updateProfilePic').change(function(){
			readURL(this);
		});
	});
	</script>
</head>

<body>
	<!-- Header -->
	{% include 'includes/navbar.html' %}

	<!--Profile-->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
                <center>
					{% include 'includes/sideProfile.html' %}
					<!--<form action="{{userUploadURL}}" method="POST" enctype="multipart/form-data">
						Upload Photo: <input type="file" name="ProfilePic"><br>
						<input type="submit" name="submit" value="Submit">
					</form>-->
					<!--<button>Upload Photo</button>
					<br><br>-->
				</center>
            </div>
			<div class="col-md-9">

				<center>
				<img id="imgProfilePic" style="height:220px;width:220px;" alt="ProfilePic" class="img-thumbnail" src="/ViewProfilePhoto/{{targetUser.ProfilePicBlobKey}}" /></img>
				<br><br>

					<form action="{{targetUserUploadURL}}" id="userDetails" class="form-horizontal" method="post" enctype="multipart/form-data">
					
						<a href="#" class="btn btn-default" onclick="document.getElementById('updateProfilePic').click(); return false;" />Update Photo</a>
						<input id="updateProfilePic" type="file" name="ProfilePic"  style="visibility: hidden;">
						
						
						<input type="hidden" name="targetUserId" value="{{targetUser.key.integer_id()}}">
						<div class="form-group">
							<label for="email" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input name="email" type="email" class="form-control" id="email" value="{{targetUser.Email}}" required>
							</div>
						</div>

						<div class="form-group">
							<label for="credits" class="col-sm-2 control-label">Credits</label>
							<div class="col-sm-10">
								<input name="credits" type="number" class="form-control" id="userCredits" value="{{targetUser.Credits}}" readonly required>
							</div>
						</div>

						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="name" id="name" value="{{targetUser.Name}}" required>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<input type="password" name="password" class="form-control" id="password" value="{{targetUser.Password}}" required>
							</div>
						</div>

						<div class="form-group">
							<label for="emergencyName" class="col-sm-2 control-label">Emergency Contact</label>
							<div class="col-sm-10">
								<input type="text" name="emergencyName" class="form-control" id="emergencyContact" value="{{targetUser.Emergency_Contact}}">
							</div>
						</div>

						<div class="form-group">
							<label for="emergencyMobile" class="col-sm-2 control-label">Emergency Number</label>
							<div class="col-sm-10">
								<input type="number" name="emergencyMobile" class="form-control" id="emergencyMobile" value="{{targetUser.Emergency_Phone}}">
							</div>
						</div>		
						<div class="form-group" adminAllowed>
							<table>
								<tr>
									<div>
										<td>
											<label for='isAdmin' class="checkbox-inline no_indent">Administrator</label>
										</td>
										<td>
											<input type="checkbox" name="isAdmin" id="isAdmin" {%if targetUser.Admin %} checked="checked" {% endif %}>
										</td>	
									</div>
								</tr>
								<tr>
									<div>
										<td>
											<label for="isTreasurer" class="checkbox-inline no_indent">Treasurer</label>
										</td>
										<td>
											<input type="checkbox" name="isTreasurer" id="isTreasurer" {%if targetUser.Treasurer %} checked="checked" {% endif %}>
										</td>
									</div>
								</tr>
								<tr>
									<div>
										<td>
											<label for='isEventManager' class="checkbox-inline no_indent">Event Manager</label>
										</td>
										<td>
											<input type="checkbox" name="isEventManager" id="isEventManager" {%if targetUser.EventManager %} checked="checked" {% endif %}>
										</td>
									</div>
								</tr>
							</table>
						</div>
						<br><br>
						
						<div class="form-group">
								<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
					<div adminAllowed>
					<button id="DeleteUser-{{targetUser.key.integer_id()}}" class ="btn btn-danger" onclick = 'DeleteUser({{targetUser.key.integer_id()}})'>Delete User</button>
					</div>
				</center>
			</div>
		</div>
	</div>
	{% include 'includes/footer.html' %}
</body>
</html>