<!DOCTYPE HTML>
<html>
	<head>
		<title>Users</title>
		{% include 'includes/meta-tags.html' %} {% include 'includes/css-links.html' %} {% include 'includes/js-libraries.html' %}
	</head>
	<body>
		<!-- Header -->
		{% include 'includes/navbar.html' %}
		<!--Content-->
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					{% include 'includes/sideProfile.html' %}
				</div>
				<div class="col-md-9">
					<div class="panel panel-default">
						<div class="panel-heading">
							Users
						</div>
						<table class="table">
							{% for account in Accounts %}
							<tr>
								<td>
									<b>Name:</b>
									<a href="/profile?userId={{account.key.integer_id()}}" class="userItemName">{{ account.Name }}</a>			
								</td>
								<td>
									<b>Email:</b>
									<span>{{ account.Email }}</span>
								</td>
							</tr>
							<tr>
								<td>
									<b>Credits:</b>
									<span treasurerAllowed adminAllowed>
									<span dynamic-credits-accountId-{{account.key.integer_id()}}>{{ account.Credits }}</span>
								</td>
								<td>
									<span treasurerAllowed>
										<span treasurerAllowed></span>
										<!--these are not hyperlinks because we will use AJAX (javascript)to send the webservice-->
										<input type="Submit" value="+1" class="btn btn-success btn-xs" onclick="changeCredits({{account.key.integer_id()}},1,this)" style="width:50px">
										<input type="Submit" value="+10" class="btn btn-warning btn-xs" onclick="changeCredits({{account.key.integer_id()}},10,this)" style="width:50px">
										<input type="Submit" value="-1" class="btn btn-danger btn-xs" onclick="changeCredits({{account.key.integer_id()}},-1,this)" style="width:50px">
									</span>
									</span>
								</td>
							</tr>
							<!-- Separate Users -->
							<tr>
								<td colspan="2"></td>
							<tr>
								{% endfor %}
						</table>
					</div>
					<center>
						<a id='createUser' class = "btn active" href="/createUser" adminAllowed>Add New Member</a>
					</center>
				</div>
			</div>
		</div>
		{% include 'includes/footer.html' %}
	</body>
</html>