<!DOCTYPE HTML>
<html>
	<head>
		<title>Users</title>
		
		{% include 'includes/css-links.html' %}
		
		{% include 'includes/js-libraries.html' %}
		
		<script src="js/permissions.js"></script>
	</head>
	<body>
		{% include 'includes/mainHeader.html' %}
		
		{% include 'includes/adminMenu.html' %}

		{% include 'includes/generalMenu.html' %}	
		
		<!--Users - We'll put this in a container-->		
		
		<ul id="usersList"> 
		{% for account in Accounts %}		
         <li class="userItem">
				<a href="/profile?userId={{account.key.integer_id()}}" class="userItemName">{{ account.Name }}</a>
				<span>{{ account.Email }}</span>
				<span treasurerAllowed>
					<span>Credits: {{ account.Credits }} Add:</span>
					<!--these are not hyperlinks because we will use AJAX (javascript)to send the webservice-->
					<span class="add1Credit" onclick="addCredits(3,1)">+1</span>
					<span class="add1Credit" onclick="addCredits(3,10)">+10</span>
					<span class="take1Credit" onclick="takeCredits(3,1)">-1</span>
				</span>
			</li>
		 {% endfor %}
		 <li>
			<a id='createUser' href="/createUser" class="button" adminAllowed>Add New Member</a>
		</li>
		</ul>
		
		{% include 'includes/footer.html' %}
	</body>
</html>