<!DOCTYPE HTML>
<html>
	<head>
		<title>Attendees</title>
		
		{% include 'includes/meta-tags.html' %}
		
		{% include 'includes/css-links.html' %}
		
		{% include 'includes/js-libraries.html' %}
		
	</head>
	<body>
		{% include 'includes/mainHeader.html' %}
		
		{% include 'includes/adminMenu.html' %}

		{% include 'includes/generalMenu.html' %}	
		
		<!--Attendees - We'll put this in a container-->
		<span id="printAttendees" class="button" onclick="printAttendees()">Print Attendees</span>
		<h2>Attendees</h2>
		<ul>
			<li class="attendeeItem">
				Jack White
			</li>
			<li class="attendeeItem">
				Peter Jones
			</li>
			<li class="attendeeItem">
				Sally Parker
			</li>
			<li class="attendeeItem">
				Jane Brown
			</li>
			<li class="attendeeItem">
				Thomas Smith
			</li>
		</ul>
		
		{% include 'includes/footer.html' %}
	</body>
</html>